@font-face {
    font-family: Rye;
    src: url("./Rye-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("./Roboto-VariableFont_wdth\,wght.ttf");
}

body {
    margin: 0;
    font-family: Roboto;
    overflow-x: hidden;
}

.background-image {
    margin-top: 5px;
    position: absolute;
    z-index: -1;
}

a:active {
    color: red;
}

.center_elements {
    display: flex;
    justify-content: center;
}


/*Navigationsleiste*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 50px 2px rgba(49, 49, 49, 0.88);
}

.headline {
    font-family: Rye;
    color: #4c2f26;
    font-size: 30px;
    text-decoration: none;
}

.menu {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    width: 33.3%;
    justify-content: space-evenly;
    align-items: center;
}

.menu2 {
    display: flex;
    flex-direction: column;
}

.menu_element {
    color: #4c2f26;
    border: gray 1px solid;
    padding: 5px;
    border-radius: 10%;
}

.menu_element_top {
    margin-bottom: 5%;
}

.nav a {
    text-decoration: none;
}

/*Inhalt*/

.content {
    text-align: center;
    font-size: 25px;
}

/*Bestellen*/

.content2 {
    width: 89%;
    background-color: white;
    margin-top: 5%;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0.5%;
    margin-bottom: 1%;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input input {
    margin-left: 1%;
    margin-right: 1%;
}

.input select {
    margin-left: 1%;
    margin-right: 1%;
}

/*Galerie*/

.images {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: center;
    align-items: center;
}

.gallery_image {
    width: 100%;
    height: auto;
    border: 2px solid rgba(75, 75, 75, 0.445);
    border-radius: 10%;
}

.gallery_menu {
    border: solid rgba(100, 100, 100, 0.1) 1px;
    grid-area: 1 / 9 / 2 / 10;
    justify-self: center;
}

.big_gallery_image_left {
    margin: 30%;
}

.big_gallery_image_right {
    margin: -30%;
}

.gallery_headline {
    grid-area: 1 / 4 / 2 / 7;
}

.gallery_top {
    display: grid;
    align-items: center;
    margin-top: 10px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.separator {
    display: block;
    border-bottom: rgba(100, 100, 100, 0.1) solid 1px;
    height: 1px;
}

.gallery_menu a {
    text-decoration: none;
    color: black;
}

/*About us page*/
    /*Geschichte*/
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    margin-bottom: 5px;
}

.heading h1::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #4c2f26;
    display: block;
    position: absolute;
    border-radius: 25px;
    margin-top: 27px;
    opacity: 0.9;

}

.übertext {
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.3em;
    font-size: 20px;
}

.center1 {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.vorteile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.voritems {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
}

.item1 {
    width: 35%;
    padding-left: 5px;
    padding-right: 5px;
}

.item2 {
    width: 35%;
    padding-left: 5px;
    padding-right: 5px;

}

.item3 {
    width: 35%;
    padding-left: 5px;
    padding-right: 5px;
}

.head2 {
    font-size: 25px;
}

.head2::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #4c2f26;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    opacity: 0.9;
}

    /*Partner*/
.partner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.partitems {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    width: 100%;
}

.part1 {
    width: 35%;
    padding-left: 5px;
    padding-right: 5px;
}

.part2 {
    width: 35%;
    padding-left: 5px;
    padding-right: 5px;

}

.part3 {
    width: 35%;
    padding-left: 5px;
    padding-right: 5px;
}

.partitems a {
    text-decoration: none;
    color: #fff;
    background-color: #4c2f26;
    border-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10%;
    padding-right: 10%;
}

.partcenter {
    display: flex;
    justify-content: center;
}

.partitems a:hover {
    background-color: #64473d;
}
/*impressum*/
.impressum1{
    border: solid rgba(100, 100, 100, 0.1) 1px;
    display: block;
    text-align: left;
    font-size: 20px;

}
.impressum{
    border: solid rgba(237, 1, 1, 0.1) 1px;

}
.impressum2{
    text-align: left;
    font-size: 20px;
    margin-top: 25px;
    
}

.impressum3{
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
}
.bold{
    font-weight: bold;
}
.impressum4{
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
}
.impressum5{
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
}
.impressum6{
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
}
.impressum p{
    margin: 0px;
}
/*kontakt*/
.kontakt_head{
    font-size: 20px;
    opacity: 80%;
    margin-top:5px;
}
.kontakttext{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-top: 0;
    align-items: center;
}
.telefon{
    text-align: left;
}
.email{
    text-align: left;
}
.kontakttext h2 {
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 600;
}
.kontakttext p{
    margin-top: 0;
    font-size: 25px;
}
.kontakt1{
    margin-top: 0;
}
.heading{
    margin: 0;
}
.kontakttext h3{
    font-size: 25px;
}